Flask==0.9
Flask-SQLAlchemy==0.16
Jinja2==2.6
SQLAlchemy==0.8.0b2
Werkzeug==0.8.3
distribute==0.6.34
requests==1.1.0
stevedore==0.8
virtualenv==1.8.4
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
wsgiref==0.1.2
