{% extends "base.html" %}

{% block topbar %}

  <!-- By passing a valid access token here, we are able to display -->
  <!-- the user's images without having to download or prepare -->
  <!-- them ahead of time -->
  <p id="picture" style="background-image: url(https://graph.facebook.com/me/picture?type=normal&access_token={{token}})"></p>

  <div>
    <h1>Welcome, <strong>{{me.name}}</strong></h1>
    <p class="tagline">
      This app will send you a Facebook notification whenever there is inclement weather for your zipcode. 
      <a href="{{app.link}}">{{app.name}}</a>
    </p>
    <div id="share-app">
      <p>Share this app:</p>
      <ul>
        <li>
          <a href="#" class="facebook-button" id="postToWall" data-url="{{ url }}">
            <span class="plus">Post to Wall</span>
          </a>
        </li>
        <li>
          <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="{{ url }}">
            <span class="speech-bubble">Send Message</span>
          </a>
        </li>
        <li>
          <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
            <span class="apprequests">Send Requests</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

{% block content %}
<section class="clearfix" id="samples">
        We were unable to resolve your location, please enter your 5 digit zipcode.</br>
        <form action='{{url_for("update_user")}}' method='POST'>
        <input type='text' name='zipcode' size='5' maxLength='5'>
        <input type='submit' value='Submit'>
      </form>
    </section>
{% endblock%}
